<bmasc-header-compenent pageName="Configuracion de usuario"></bmasc-header-compenent>
<ion-content>
  <div class="user-banner-container">
    <ion-img src="./../../../assets/img/profile-banner.png" alt="banner-profile"></ion-img>
  </div>
  <div class="user-info-container">
    <div class="user-profile-conatiner">
      <div class="user-profile-img">
        <ion-img src="./../../../assets/img/user_profile-demo.png" alt="user-img-profile"></ion-img>
      </div>
    </div>
  </div>
  <div class="user-information-container">
    <h1>{{userFullName}}</h1>
    <p>
      {{userRole}} en el departamento de {{userDep}} en Bufete Mexicano de Aduanas
    </p>
  </div>

</ion-content>
