<bmasc-header-compenent pageName="Home"></bmasc-header-compenent>
<ion-content>
    <ion-card class="bmasc-welcome-card-container ion-padding">
        <h2>Bienvenido a tu portal KPI'S Dirección!</h2>
        <p>Tenemos todos los reportes globales de BMASC en tus manos</p>
    </ion-card>
    <section class="home-page-content-container">
        <home-cruces-card-component></home-cruces-card-component>
        <home-pedimentos-card-component></home-pedimentos-card-component>
    </section>
</ion-content>